{% include "layout.html" %}

<div class = "container mt-5">
    <h3>
        Sunt aici la dispozitia dumneavoastra! Cu ce va pot fi de folos astazi?
    </h3>
    <form action="/" method="POST">
        <div>
            <textarea class = "form-control" placeholder="Scrieti aici mesajul dvs" name="user_input" rows="3"></textarea>
            <button class="btn btn-primary mt-1" type="submit">Trimite</button>
        </div>
    </form>

    <div>
        <div class="card text-center mt-3">
            <div class="card-header">
                Istoric conversatie:
            </div>
            <div class="card-body text-start">
                {% for response in chat_responses %}
                <div>
                    - {{response}}
<!--                    - {{chat_contents}}-->
                </div>
                {% endfor %}
            </div>

        </div>
    </div>



</div>